.home-header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Kaushan Script", cursive;
}
.home-heading:hover,
.home-sub-h:hover {
  color: black;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}
.row-col {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
body {
  background: white;
  font-family: "Shantell Sans", cursive;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
#Contact-Us {
  height: 90vh;
  width: 90vw;
}
.img-part {
  float: left;
  margin: 2rem;
}
#profile-div {
  margin-top: 20px;
  background-color: #fbfbfb00;
  outline-style: none;
  border: none;
  outline: none;
  box-shadow: none;
}
#profile-div:hover {
  color: #cc80ff;
  border: none;
  box-shadow: none;
}

.home-container {
  background: linear-gradient(to right, #9900ff, #cc80ff);
  height: 90vh;
}
.highlight {
  background: white;
  width: 100vw;
  height: 80vh;
}
.high-header {
  padding-top: 20px;
  font-family: "Kaushan Script", cursive;
}
.home-sub-high {
  margin-top: 30px;
  color: #ffa500;
  text-align: center;
}

.first-text {
  color: #ffa500;
}
.first-text-w {
  cursor: pointer;
}
.first-text-w:hover {
  color: black;
}
.first-text:hover {
  color: white;
}
.header-btn:hover {
  border-color: white;
}
.landing-page {
  margin-top: 1rem;
}
.carousel-field {
  margin-top: 70px;
}
.landing-page-content {
  text-align: center;
}
.content1 {
  margin: 2.2rem;
  font-family: "Shantell Sans", cursive;
  font-size: 1.6rem;
  color: white;
}
.home-heading {
  padding: 0px;
  margin: 0px;
  font-size: 35px;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}
.home-sub-h {
  text-align: left;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  font-family: "Kaushan Script", cursive;
  cursor: pointer;
}

.btns {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 24px;
  border-color: #ffa500;
  border-radius: 8px;
  border-width: 4px;
  cursor: pointer;
}
.btns:hover {
  background: none;
}

body::-webkit-scrollbar {
  display: none;
}
#about-btn {
  padding: 5px 10px;
}
#about-btn:hover {
  color: black;
}

.opr {
  background: linear-gradient(to right, #9900ff, #cc80ff);
  color: white;
  border-color: #ffa500;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: none;
}

.opr:hover {
  color: black;
  border-color: #ffa500;
  background-color: #ffa500;
  box-shadow: #ffa500 !important;
}
