body {
  background: rgb(174, 59, 236);
  color: white;
}
.nit-logo{
  height: 200px;
  width: 180px;
}
.prof-img {
  text-align: center;
}
.rule{
  border: none;
  height: 1px;
  background-image: linear-gradient (to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
.project-desc {
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
}
.prof-details{
  margin: 1rem;
}
.home-heading{
  margin: 10px;
}
.about-heading {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  font-family: "Raleway", sans-serif;
}
